header{
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #FAFAFA;
  height: 60px;
}

.container{
  width: 1308px;
  display: flex;
  align-items: center; 
}

.container img{
  margin: 10px;
  padding: 10px 5px 10px;    
  color: #838C91;
  
}

.itemMenu{
  flex: 1;
  align-items: center;
  margin: 10px;
  padding: 10px;
  color: #838C91;
  display: flex;
}
.container div div{
  flex:1;
  margin-left: 0;
  padding-left: 0;
}

.avatar{  
  display: flex;
  justify-content: center;
}
.avatar div{
  display: flex;
  width: 1308px;    
  align-items: center;
  justify-content: space-between;

}
.avatar div img{
  margin: 22px;
}
.avatar div div{
  font-size: 24px;
}

footer {
  bottom: 0;
}
